@charset "utf-8";


footer > p {
    display: none;
}

.formLogin__input, .containerEyePass {
    width: 260px;
}

.inputEyePass {
    width: 258px;
}

.sectionLogin2, .sectionLogin {
    width: 300px;
}

.sectionLogin h1, .sectionLogin2 h1 {
    font-size: 28px;
}

.sectionLogin p, 
.sectionLogin2 p,
.spanCadastro,
.spanCadastro2,
.esqueceu,
.spanMSG, .spanMSG2, .spanMSG3,
.containerGoogleLogin > p {
    font-size: 14px;
}

.formLogin, .formCadastro, .formLoginAlteracao {
    width: 280px;
}

.redirecionaBtnlog, .redirecionaBtncad{
    width: 140px;
}

.containerAlteracaoConta {
    width: 280px;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.postagemTitle {
    font-size: 11px;
}

.postagemPreco, .spanTotal, .spanPrecoFinal {
    font-size: 13px;
}

.formFinal {
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.formFinal > div {
    display: none;
}

.spanTotal {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 0;
}

.spanPrecoFinal {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 0;
}

.btnFinalizarCompra {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100px;
    justify-self: end;
}

.promoNotesContainer {
    display: none;
}

.h1Notes2 {
    display: none;
}

.prodArquivoClientecat1 {
    width: 180px;
    height: 160px;
}

.postagemTitlecat1 {
    font-size: 16px;
}

.postagemDesc {
    font-size: 12px;
}


.listagemProdutos {
    padding-inline: 30px;
}

.prodImgUnico {
    width: 230px;
    height: 210px;
}

.postagemTitleUnico, .containerTable__title > h1 {
    font-size: 16px;
}

.postagemDescUnico {
    font-size: 12px;
}

.postagemPrecoUnico {
    font-size: 16px;
}

.postagemPrecoUnico2 {
    font-size: 12px;
}

.btncompraUnico {
    width: 150px;
    height: 43px;
    font-size: 12px;
}

tr {
    height: 50px;
}

tr td:first-child {
    width: 90px;
}

.containerTable__title span i {
    font-size: 12px;
}

td {
    font-size: 12px;
}

.postagemTitleSugeridos {
    font-size: 13px;
}

.centralizaPrecoSugeridos {
    text-align: center;
    margin-top: 20px;
    color: var(--countColor);
    font-size: 16px;
}   

.containerTable__table > p {
    font-size: 13px;
}

.containerTable__table2 {
    font-size: 12px;
}